.page-wrapper {
	padding:  20px;
	margin-bottom: 60px;
}

.store-title {
	margin-bottom: 6px;
}

.store-details {
	margin-top: 0px;
	margin-bottom: 30px;
}








.cart-container {
	display: flex;
	justify-content: right; 
	margin-top: 20px;
}

.viewcart {
	background-color: #DD5353;
	color: white;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}

