/* Styling for login and logout page  */
/* Container */
.container {
  max-width: 450px;
  margin: 60px auto;
  padding: 40px;
  background-color: #872341;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  border: 2px solid #BE3144;
}

.title-logo {
  color: #872341;
}

/* Title Sign In / Sign Up */
.title {
  color: #ffffff; 
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
}

/* Username and Password Demo */
.in-out-demo {
  background: #791f3ad5;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 25px;
  font-size: 16px;
  color: #ffffff;
  border: none;
}

/* Form Styles */
.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Button */
.input-form,
.signIn-button,
.signUp-button,
.cancel-button {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border-radius: 25px;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  background-color: rgba(121, 31, 58, 0.83);
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

/* Submit Button */
.signIn-button,
.signUp-button {
  background-color: #DD5353;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.signIn-button:hover,
.signUp-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(102, 187, 106, 0.3);
}

/* Cancel Button */
.cancel-button {
  background-color: #872341;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.cancel-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(224, 48, 48, 0.3);
}

/* Link for sign in and sign up */
.link {
  color: #ffffff;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

.link a {
  color: #EF9F9F;
  text-decoration: none;
}

.link a:hover {
  color: #F47C7C;
  text-decoration: underline;
}
